<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bmi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/BMI_Calculator"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMI">
        <activity android:name=".SplashScreen"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityFemale"
            android:parentActivityName=".ActivityChoose" />
        <activity
            android:name=".ActivityMale"
            android:parentActivityName=".ActivityChoose" />
        <activity
            android:name=".ActivityChoose" />

    </application>

</manifest>